/* Encriptador - 1 Desktop */

position: relative;
width: 1440px;
height: 1024px;

/* Light blue/light-blue-100 */
background: #F3F5FC;

background-image: url("img_tree.gif"), url("paper.gif");
  background-color: #cccccc;
